body {
  background-color: #a7c5bd;
}

.App {
  top: 27px;
  left: 156px;
  color: #0b4654;
}

.toggleFeedback {
  width: 90%;
  height: 3rem;
  border-radius: 1rem;
  font-size: larger;
  font-weight: bold;
}
