body {
  background-color: #A7C5BD;
}

.App {
  position: fixed;
  top: 27px;
  left: 156px;
  color: #0B4654;
}

.content {
  margin: auto;
  background-color: white;
  max-width: 80%;
  border-radius: 10px;
  padding: 5px;
}

.feedback {
  background-color: #C4C4C4;
  border-radius: 5px;
  text-align: center;
}


